@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  }
  

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  }

body {
    margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  
}
.header {
	width: 100%;
	background-image: url(../images/football_767.jpg);
	background-color: #000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	padding-bottom: 26.2vw;
	
}
.header::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 }
 .container {
 
  width: 100%;
  margin: 0 auto;
  padding: 0 6.2vw;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.logo-header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 41.6vw;
	height: 11.2vw;
	padding-top: 30px;
		
}

.title {
	margin: 130px 0 0 0;
	
}
.main-title, .second-title {
	color: #fff;
	font-size: 8.7vw;
	text-transform: uppercase;
	font-weight: 700;
	display: block;

}
.second-title {
	margin-left: 14.1vw;
    
	}



.button-list {
	display: flex;
	flex-direction: column;
		
}
.header .button-list {
	margin-top: 27.2vw;
}
.button-apple, .button-google {
  text-decoration: none;
  display: flex;	
  background-color: #5e42b0;
  padding-top: 1.6vw;
  padding-bottom: 1.6vw; 
  border-radius: 5.3vw;
  justify-content: center;
  
}

.button-apple {
	margin-bottom: 4.7vw;
		
}

.button-link_apple, .button-link_google {
	width: 6.2vw;
	height: 7.5vw;
	margin-right: 2.8vw;
	cursor: pointer;
}

.button-text, .button-google {
 
  font-size: 2.5vw;
  color: #fff;
  text-transform: uppercase;  
    
  
}

.button-label {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
} 

.button-label_app, .button-label_google {
	font-weight: 700;
	font-size: 2.5vw;
    color: #fff;
    text-transform: uppercase;  
    padding-top: 1.2vw;
  	
}

	
.section-title {
	
	font-size: 15.6vw;
	font-weight: 700;
	text-transform: uppercase;
	color: #e7e7e7;
	padding-top: 6.2vw;
	padding-left: 6.2vw;
	margin: 0;
	
}
.athlets, .players {
	position: relative;
}


.athlet-image {
    position: absolute;
    z-index: 2;
    top: 25vw;
    left: 16.5vw;     
    }
    
.footballer-image {
	width: 60vw;
}   
.player-image {
	position: absolute;
    z-index: 2;
    top: 28vw;
}   	

.basketballer-image {
	width: 94.3vw;
}
 
.athlets-list, .players-list {
	
	padding-top: 70.6vw; 
	
}

.athlet-item, .player-item {
	padding: 17.2vw 6.2vw;
}


.background-white {
	background-color: #fafafa;
	width: 100%;
}
.background-pink {
	background-color: #f5f4f9;
	width: 100%
  
}
.background-violet {
	background-color: #5e42b0;
	width: 100%;
}



.background-black {
	background-color: #0a0e34;
	width: 100%;
}
.main-container {
	max-width:  1920px;
	margin: 0 auto; 
}


.item-header {
	display: flex;
}	

.title-number {
	color: #000;
	font-size: 4.4vw;
	font-weight: 700;
	position: relative;
	margin-right: 3.1vw;
}
.title-number::after {
  content: "";
  position: absolute;
  width: 4.7vw;
  height: 1.2vw;
  background-color: #5e42b0;
  top: 5.6vw;
  left: 0;
  border-radius: 0.5vw;
}

.title-number_growth {
	color: #000;
	margin-right: 3.1vw;
	font-size: 4.4vw;
	font-weight: 700;
	position: relative;
}

.player-item .title-number_growth {
	color: #5e42b0;
}
.title-number_growth::after {
  content: "";
  position: absolute;
  width: 4.7vw;
  height: 1.2vw;
  background-color: #fff;
  top: 5.6vw;
  left: 0;
  border-radius: 0.5vw;
}

.item-title {
	color: #c1c1c1;
	text-transform: uppercase;	
	font-weight: 700;
	font-size: 7.2vw;
	margin: 0;
}
.item-text {

	line-height: 6.2vw;
	font-size: 4.7vw;
	font-weight: 400;
	color: #000;
}
 
.item-last_text {
	
	font-size: 4.7vw;
	font-weight: 400;
	color: #fff;
}


/* секция с карточками */

.active-card, .contact-card, .work-card {
	position: relative;
}


.be-active, .contact, .work-it {
	width: 100%;
	display: block;
	}
	
.active-content, .contact-content, .work-content {
	padding-top: 10.3vw;
	padding-left: 6.2vw;
	padding-bottom: 21.9vw;
}


.be-active_number, .contact_number {
	display: inline-block;
	position: absolute;
	font-size: 4.4vw;
	font-weight: 700;
	color: #fff;
	background-color: #5e42b0;
	padding: 7.8vw;
	top: 91.6vw;
	box-sizing: border-box;
	z-index: 2;
}

.work_number {
	display: inline-block;
	position: absolute;
	font-size: 4.4vw;
	font-weight: 700;
	color: #fff;
	background-color: #5e42b0;
	padding: 7.8vw;
	top: 91.6vw;
	box-sizing: border-box;
	z-index: 2;

}

.content-number::after {
  content: "";
  position: absolute;
  width: 4.7vw;
  height: 1.2vw;
  background-color: #8f7bc8;
  top: 13.4vw;
  left: 7.8vw;
  border-radius: 1.5px;
  box-sizing: border-box;
  
 }
 
.content-title {
	font-size: 8.7vw;
	font-weight: 700;
	text-transform: uppercase;
	color: #e7e7e7;
	margin: 0;
/* 	margin: 6.2vw 0 0; */
}
.content-text {
	font-size: 5vw;
	font-weight: 400;
	line-height: 6.2vw;

	color: #000;
	margin: 0;
	padding-top: 7.5vw;
	}



 .footer {
	width: 100%;
	background-image: url(../images/game_767.jpg);
	background-color: #000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
	position: relative;
	padding-top: 30.6vw;
	padding-bottom: 2.8vw;
	
	
 }
 .footer::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 }

.logo-footer {
	width: 22.5vw;
	height: 23.1vw;
	background-color: #53399f;
	border-radius: 20px;
	padding: 3.4vw 2.5vw;
	margin-bottom: 18.1vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
		
}

.footer-title {
	font-size: 10vw;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin: 17.2vw 0 3.4vw;
	}


.footer-text {
	font-size: 4.4vw;
	font-weight: 400;
	text-transform: uppercase;
	color: #9b8ec1;
	margin: 0 0 23.4vw;
	text-align: center;
	}

.footer_logo-text {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 41.6vw;
	height: 11.2vw;
	margin-top: 25vw;

}


/* медиафункции */

@media (min-width: 641px) and (max-width: 960px) {
	
	.header {
		background-image: url(../images/football_1280.jpg);
		padding-bottom: 11.7vw;
	}
		
	.logo-header, .footer_logo-text {
		width: 26.7vw;
		height: 7.3vw;
	}
	
		
	.button-list {
		flex-direction: row;
		justify-content: center;
		
	}
	.header .button-list {
       margin-top: 30.6vw;
    }
    
	.button-apple {
		
		margin: 0 4.2vw 0 0;		
	}
	
	
	.button-apple, .button-google {
		width: 40.9vw;
		padding-top: 1.8vw;
		padding-bottom: 1.8vw;
		border-radius: 4.5vw;
	}

    .button-text, .button-label_app, .button-label_google {
		font-size: 1.8vw;
	}	
	
	.button-link_apple {
		width: 4.7vw;
		height: 5.5vw;
		margin-right: 2.9vw;
		
	}
	
	.button-link_google {
		width: 5.3vw;
		height: 5.8vw;
		margin-right: 2.9vw;
	} 
	.title {
        margin: 176px 0 0;
    }
	
	.main-title, .second-title {
		font-size: 8.2vw;
			}
			
	.main-title {
		margin-left: 7.8vw;
	}		
			
	.second-title {
		display: block;	
		margin-left: 20.7vw;
	}		
		
	.section-title {
		font-size: 10.4vw;
	}
	
	.background-white {
	background-color: #fff;
	
    }
	
	.athlets .section-title {
		padding-left: 40%;
		padding-top: 10.7vw;

	}
	

	.athlet-image {
		left: -21.1vw;
		top: 16.2vw;
       
	}
	.footballer-image {
		width: 64.7vw;
	}
		
	.athlets-list {
		padding-top: 0;
		
	}
		
	.athlet-item {
		padding-left: 40%;
		padding-top: 3.8vw;
		padding-bottom: 3.8vw;
		
	}
	

	
	.players .section-title {
		padding-left: 4.2vw;
		padding-top: 10.7vw;
		

	}
	
	.player-image {
		right: 0;
		top: 13.5vw;

	}
	.basketballer-image {
		width: 58vw;
		
	}
	
	.player-item {
		padding: 3.8vw 44.9vw 3.8vw 4.2vw;
	}
	
	.players-list {
		margin-top: 5.2vw;
		padding-top: 0;
	}
		
	.title-number, .title-number_growth {
		font-size: 2.4vw;
	}
	
	.title-number::after, .title-number_growth::after {
		width: 2.6vw;
		height: 0.6vw;
		top: 3.1vw;
	}

	.item-title {
		font-size: 4.2vw;
	}
	
	.item-text {
		font-size: 2.1vw;
		line-height: 3.6vw;
	}
	.item-last_text {
		font-size: 2.1vw;
	    line-height: 3.6vw;
	}
	
	.active-content, .contact-content, .work-content {
		padding-top: 10.7vw;
		padding-left: 3vw;
        padding-bottom: 13.5vw;
    }
	
	
	.be-active_number, .contact_number, .work_number {
	display: inline-block;
	position: absolute;
	font-size: 3.1vw;
	font-weight: 700;
	color: #fff;
	background-color: #5e42b0;
	padding: 5.7vw;
	top: 64.6vw;
	box-sizing: border-box;
}

.content-number::after {
  content: "";
  position: absolute;
  width: 3.6vw;
  height: 0.6vw;
  background-color: #8f7bc8;
  top: 9.9vw;
  left: 5.7vw;
  border-radius: 0.3vw;
  box-sizing: border-box;
  
 }


	
	.content-title {
		font-size: 10.4vw;

	}
	.content-text {
		font-size: 3.1vw;
		line-height: 3.6vw;
		padding-top: 4.9vw;
		
	}
	
	.footer {
		background-image: url(../images/game_1280.jpg);
		padding-top: 16.5vw;
		padding-bottom: 3vw;
	}
	
	.logo-footer {
		width: 16.9vw;
		height: 17.8vw;
		padding: 3.2vw 1.7vw;
		margin-bottom: 10.7vw;
		box-sizing: border-box;
	}
	
	.footer_logo-text {
		margin-top: 7vw;
	}
	.footer-title {
		font-size: 10.4vw;
		margin: 0;
	}
	
	.footer-text {
		font-size: 4.7vw;
		margin-bottom: 37.2vw
	}
	
	
}




@media (min-width: 961px) {
	

	
	.header {
		background-image: url(../images/football_1920.jpg);
		padding-bottom: 5.7vw;

	}
	
	.logo-header, .footer_logo-text {
		width: 191px;
		height: 52px;
	}
	
	.button-list {
		flex-direction: row;
		justify-content: center;
		
	}
	
	.button-apple {
		
		margin: 0 2.6vw 0 0;
		
	}
    
    .button-apple, .button-google {
		width: 314px;
		padding-top: 14px;
		padding-bottom: 14px;
		border-radius: 35px;
	}
	
	
	.button-link_apple {
		width: 42px;
		height: 48px;
		margin-right: 28px;
		
	}

    .button-link_google {
		width: 40px;
		height: 40px;
		margin-right: 28px;
		font-size: 40px;
	} 
	
	.button-text, .button-label_app, .button-label_google {
		font-size: 14px;
	}
	
	.title {
		margin: 15.2vw 0 0 10vw;
	}

	.main-title, .second-title {
		font-size: 4.7vw;
	
	}
	
	.second-title  {
		display: block;
		margin-left: 22vw;

	}
	
	.header .button-list {
       margin-top: 11.6vw;
    }
    
    .button-label_app, .button-label_google {
	    padding-top: 0.4vw;
    }
    
	.section-title {
     	font-size: 80px;
     	padding-top: 6.1vw;
     	padding-left: 13px;
	}
	
	.background-white {
	background-color: #fff;
	
    }
	
	
	
	
	.athlets .section-title {
		padding-left: 50%;
		
	}
	
	.players .section-title {
		padding-left: 10vw;
	}
	
	.athlet-item {
		padding-left: 50%;

	}

	.athlet-item, .player-item {
         padding-top: 3.1vw;
         padding-bottom: 2.8vw;
         
    }
    
    .player-item {
		padding-right: 55%;
		padding-left: 10vw;
	}	 	
		
    .athlets-list, .players-list {
	    padding-top: 29px;
	
    }
	
	
	.athlet-image {
	   width: 50%;
	   text-align: right;
	   left: 0;
	   top: 4.1vw;
	   padding: 0 2.3vw 0 0;
	   box-sizing: border-box;
	
	}
	.footballer-image {
		width: 566px;
		max-width: 100%;	
	}
	
	.player-image {
	   width: 70%;
	   right: 0;   
	   top:0 ;
	   padding-top: 28px;
	   padding-left: 120px;
	   box-sizing: border-box;
		}
		
	.basketballer-image {
		width: 991px;
		max-width: 100%;
			}
	
	
	
	
	.title-number, .title-number_growth {
		font-size: 18px;
		margin-right: 14px;
		margin-top: 8px;
	}
	
	.title-number::after, .title-number_growth::after {
		width: 18px;
		height: 5px;
		top: 24px;
	}
	
	.item-title {
		font-size: 36px;
	}
	
	.item-text, .item-last_text {
		font-size: 20px;
		line-height: 28px;
		margin: 10px 0 0;	
	}
	
	
	
	.active-card, .work-card {
		display: flex;
		justify-content: space-between;
	}
			
			
	.active-image, .work-image, .contact-image {
		width: 50%;
		position: relative;
	}
	
	.be-active, .contact, .work-it {
		width: 100%;
		display: block;
	}
	
	.active-content, .work-content {
		width: 50%;
        box-sizing: border-box;
        padding: 0 10vw 0 6.8vw;
			
	}
	
	.contact-content {
		width: 50%;
        box-sizing: border-box;
        padding: 0 6.8vw 0 10vw;
	}   
	
	
    .be-active_number {
	   font-size: 1.2vw;
	padding: 3.1vw 3.6vw;
	top: 7.1vw;
	left: 45.6vw; 
    }
    
    .contact_number {
	   font-size: 1.2vw;
	padding: 3.1vw 3.6vw;
	top: 11vw;
	left: 45.6vw; 
    }
    
    .work_number {
	    font-size: 1.2vw;
	padding: 3.1vw 3.6vw;
	top: 11.3vw;
	left: 45.6vw;
    }

    .content-number::after {
  width: 1.4vw;
  height: 0.3vw;
  top: 4.7vw;
  left: 3.6vw;
  border-radius: 0.1vw;

  
 }



	.active-content .content-title {
		font-size: 4.2vw;
		line-height: 4.7vw;
        padding-top: 8.5vw;
		margin: 0;
	}
	
	.contact-content .content-title {
		font-size: 4.2vw;
		line-height: 4.7vw;
        padding-top: 8.5vw;
		margin: 0;
	}
	
	.work-content .content-title {
		font-size: 4.2vw;
		line-height: 4.7vw;
		margin: 0;
		padding-top: 12.5vw;

	}
	
	
	.content-text {
		font-size: 1.2vw;
		line-height: 1.4vw;
		padding-top: 6.2vw;

	}
	
	.card:nth-child(even) .content-title {
		padding-left: 0;
		padding-top: 12.5vw;

	}
	
	.card:nth-child(even) .content-text {
		padding-left: 0;
		padding-right: 130px;
		padding-top: 4vw;
	}
	
	.contact-card {
		display: flex;
		flex-direction: row-reverse;
        width: 100%;
	}
	
	.active-content, .contact-content {
        padding-bottom: 0;
	    }
	
    
	
	.footer {
		background-image: url(../images/game_1920.jpg);
		padding-top: 11.9vw;
        padding-bottom: 2.7vw;
	}
	
	.flexbox-footer {
		display: flex;
		justify-content: center;
		
		
	}
	
	.logo-footer {
		width: 130px;
		height: 137px;
		padding: 25px 13px;
		box-sizing: border-box;
		margin-bottom: 0;
		margin-right: 2.1vw;
			}
			
			
	.footer-top {
		margin-top: 14px;
	}
	
	
	.footer-name {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	.footer-title {
		font-size: 80px;
		margin: 0;
	}
	
	.footer_logo-text {
		margin-top: 13.6vw;
	}
	
	
	.footer-text {
		font-size: 30px;
		margin-bottom: 8.4vw;
	}
	
		
}

@media (min-width: 1141px) and (max-width: 1700px) {
	
	.athlet-image {
	  
	   top: 1.1vw;
	   
	
	}
}

@media (min-width: 961px) and (max-width: 1400px) {
	
	.player-image {
		
		padding-top: 60px;
		padding-left: 90px;
	  
	   
	}
	
	.player-item {
    padding-right: 38%;
    }
}


@media (min-width: 1920px) {
		
	.container {
 
  max-width: 1920px;
  margin: 0 auto;
  }
}









